<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>expense-tracker</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-light">

  <!-- navigation -->
  <nav class="navbar navbar-light bg-secondary">
    <div class="container">
      <div class="row " style="width: 1100px;">
        <div class="col-6">
          <a class="navbar-brand" href="/" style="color:white;">
            <i class="fab fa-studiovinari" style="font-size: 1.8rem;"></i>
            家庭記帳本
          </a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center d-inline-block">
          <a class="navbar-brand" href="/" style="text-center; text-decoration:none;">
            <button class="btn btn-secondary">
              <i class="fas fa-sign-out-alt" style="font-size: 1.5rem;"></i>
              返回
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.5.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script>
    function deleteAlert() {
      return confirm(`你確定要刪除這筆資料嗎？`)
    }
  </script>
</body>

</html>